.top_area {
    margin-bottom: 15%;
    margin-top: 10%;
    padding: 10%;
    margin-left: 13%;
    margin-right: 13%;
    background-color: #003594;
    border-radius: 5px;
}
body {
    background-color: #7D8382;
}

.game_text {
    color: #FFB81C;
}

.enter_game_area {
    padding-bottom: 10%;
}

.game_title_div {
    padding: 50px;
    background-color: #003594;
}

.player_title {
    background-color: black;
    padding: 10px;
}

.white_text {
    color: white;
}

.player_card {
    padding: 3%;
    border-style: solid;
    border-color: black;
    background-color: white;
}

.game_code_area {
    background-color: #003594;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#current_players {
    padding-left: 0px;
    padding-right: 0px;
}

.game_code_text {
    margin-top: 25px;
}

.card_r {
    margin-top: 3%;
    padding-top: 45%;
    padding-bottom: 45%;
    background-color: #fff; */
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
h1 {
    font-size: 300%
}
h2 {
    font-size: 250%
}
.bottom_text {
    position: absolute;
    bottom: 5%;
    left: 36%;
}
#website_link_text {
    font-size: 24pt;
}
a:active {
    color: black;
    text-decoration: none;
}
a:link {
    text-color: black;
    text-decoration: none;
}
a:hover {
    text-color: black;
    text-decoration: none;
}
.voting_text {
    float: left;
}
.voting_area {
    padding-top: .75%;
}